@model hjemmeside2.Models.ViewModels.ViewArticelBlogPost

   <div class"container">
        <div class="article col-md-6">
             <h2>Velkommen til denne utrolige hjemmeside</h2>
            <p>Skole opgave </p>
    <article>         
       @foreach (var c in Model.articels)
       {
           if(@c.ArticelID == 2)
           {
            <h3>@c.Title</h3>
                <div class="details">
                    by <span>@c.Author</span>
                </div>
            <div class="content">
                @c.Body
                <hr />
            </div>
           }
       }

    </article>
    </div>

        <div class="aside blog-post col-md-6">
        <aside>
            <div class="blog-posts">
                <h3>Se de senete blogs!</h3>
                    @foreach (var post in Model.blogs)
                    {
                        @Html.Partial("_Post", post)
                    }
            </div>
        </aside>
        </div>

    </div>